/*
wpc-admin.css
---------------
Stylesheet for the admin pages
*/
/* 
    Created on : 15.01.2023, 15:50:54
    Author     : marconagel
*/
.wpc-word-counter {
    text-align: right;
    display: block;
    margin-right: 3px;   
}
.wpc-label-small {
    font-size: 0.75rem;
    color: #8c8f95;    
}
.wpc-input-limited {
    padding-right: 8px !important;
}
.wpc-label-txt {
    display: inline;
}
.wpc-tarea-noresize {
    resize: none;
}
.wpc-logo-be {
    max-width: 600px;
    background-color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px solid #8c8f94;    
}
.wpc-tab-btn {
    text-decoration: none;
    padding-left: 0.25rem;
    border-style: solid solid none;
    border-width: 1px 1px 1px;
    margin-right: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.15rem; 
    color: #fff;
    background-color: #2271b1;
    border-color: #2271b1;    
}
.wpc-tab-btn:hover, .wpc-tab-btn:active {
    color: #fff;
    background-color: #135e96;
    border-color: #135e96;      
}
.wpc-tab-btn.active {
    background-color: #fff !important; 
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: #8c8f94 !important;    
    border-color: #8c8f94;
    background-color: #8c8f94;    
}
.wpc-settings.active {
    display: block;
}
.wpc-settings {
    display: none;
}
.wpc-settings-container {
    border: 1px solid #8c8f94;
    padding: 1rem;
    background-color: #fff;   
}
/* modal */
.wpc-modal {
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);    
}
.wpc-modal-window {
    background-color: #fefefe;
    margin: 15% auto;
    border-radius: 0.25rem;
    width: 95%;    
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5)  ;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5)  ;
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5)  ;     
}
.wpc-modal-head {
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #8c8f94;    
    display: flex;
    justify-content: space-between;    
}
.wpc-modal-head h2 {
    padding: 0px;
    margin: 0px;
}
.wpc-modal-head .wpc-close {
    cursor: pointer;
}
.wpc-modal-body {
    padding: 20px;
}
.wpc-modal-body label {
    display: block;
    margin-bottom: 0.25rem;    
}
.wpc-modal-body input {
    width: 100%;
}
.wpc-modal-body .wpc-word-counter {
    margin-left: 0px;
}
.wpc-modal-body .wpc-word-counter .wpc-label-txt {
    display: inline;
}
.wpc-modal-foot {
    padding: 15px 20px 15px 20px;
    background-color: #8c8f94;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;    
}
/* breakpoints */
@media (min-width: 576px) { 
    .wpc-modal-window {
        width: 80%; 
    }    
}
@media (min-width: 783px) { 
    .wpc-word-counter {
        display: inline;
        background-color: #fff;    
        margin-bottom: 15px;
        padding-bottom: 5px;
        padding-top: 2px;
        position: relative;  
        padding-left: 4px; 
    }
    .wpc-modal-window {
        width: 60%; 
    }
    input + .wpc-word-counter {
        top: 1px;
        margin-left: -32px;         
    }  
    textarea + .wpc-word-counter {
        top: -7px;
        margin-left: -35px;        
    }     
    .wpc-label-txt {
        display: none;
    } 
    .wpc-input-limited {
        padding-right: 25px !important;
    }  
}
@media (min-width: 960px) { 
    .wpc-modal-window {
        width: 50%; 
    }        
}

