/*
wpc-admin.css
---------------
Stylesheet for the admin pages
*/
/* 
    Created on : 15.01.2023, 15:50:54
    Author     : marconagel
*/
.wpc-word-counter {
    text-align: right;
    display: block;
    margin-right: 3px;   
}
.wpc-label-small {
    font-size: 0.75rem;
    color: #8c8f95;    
}
.wpc-input-limited {
    padding-right: 25px !important;
}
.wpc-label-txt {
    display: inline;
}
.wpc-tarea-noresize {
    resize: none;
}
.wpc-logo-be {
    max-width: 600px;
    background-color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px solid #8c8f94;    
}
.wpc-settings-buttons {
    border-bottom: 1px solid #8c8f94;
}
.wpc-tab-btn {
    text-decoration: none;
    padding-left: 0.25rem;
    border-style: solid solid none;
    border-width: 1px 1px 1px;
    margin-right: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 2px; 
    color: #fff;
    background-color: #2271b1;
    border-color: #2271b1;    
}
.wpc-tab-btn:hover, .wpc-tab-btn:active {
    color: #fff;
    background-color: #135e96;
    border-color: #135e96;      
}
.wpc-tab-btn.active {
    border-bottom-color: #f0f0f1 !important;
    border-bottom-style: solid !important; 
    background-color: #f0f0f1 !important; 
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: #8c8f94 !important;    
    border-color: #8c8f94;
    background-color: #8c8f94;    
}
.wpc-settings.active {
    display: block;
}
.wpc-settings {
    display: none;
}
/* breakpoints */
@media (min-width: 783px) { 
    .wpc-word-counter {
        display: inline;
        background-color: #fff;    
        margin-bottom: 15px;
        padding-bottom: 5px;
        padding-top: 2px;
        position: relative;  
        padding-left: 4px; 
    }
    input + .wpc-word-counter {
        top: 1px;
        margin-left: -30px;         
    }  
    textarea + .wpc-word-counter {
        top: -7px;
        margin-left: -35px;        
    }     
    .wpc-label-txt {
        display: none;
    }    
}

