/*
wpc-admin.css
---------------
Stylesheet for the admin pages
*/
/* 
    Created on : 15.01.2023, 15:50:54
    Author     : marconagel
*/
.wpc-row {
    display: flex;
    gap: 0.5rem;
}
.wpc-word-counter {
    text-align: right;
    display: block;
    margin-right: 3px;   
}
.wpc-label-small {
    font-size: 0.75rem;
    color: #8c8f95;    
}
.wpc-input-limited {
    padding-right: 8px !important;
}
.wpc-label-txt {
    display: inline;
}
.wpc-tarea-noresize {
    resize: none;
}
.wpc-logo-be {
    max-width: 600px;
    background-color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px solid #8c8f94;    
}
.wpc-tab-btn {
    text-decoration: none;
    padding-left: 0.25rem;
    border-style: solid solid none;
    border-width: 1px 1px 1px;
    margin-right: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.15rem; 
    color: #fff;
    background-color: #2271b1;
    border-color: #2271b1;    
}
.wpc-tab-btn:hover, .wpc-tab-btn:active {
    color: #fff;
    background-color: #135e96;
    border-color: #135e96;      
}
.wpc-tab-btn.active {
    background-color: #fff !important; 
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    color: #8c8f94 !important;    
    border-color: #8c8f94;
    background-color: #8c8f94;    
}
.wpc-settings.active {
    display: block;
}
.wpc-settings {
    display: none;
}
.wpc-settings-container {
    border: 1px solid #8c8f94;
    padding: 1rem;
    background-color: #fff;   
}
/* modal */
.wpc-modal {
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);    
    backdrop-filter: blur(5px);
}
.wpc-modal-window {
    background-color: #fefefe;
    margin: 15% auto;
    border-radius: 0.25rem;
    width: 95%;    
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5)  ;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5)  ;
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.5)  ;     
}
.wpc-modal-head {
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #8c8f94;    
    display: flex;
    justify-content: space-between;    
}
.wpc-modal-head h2 {
    padding: 0px;
    margin: 0px;
}
.wpc-modal-head .wpc-close, .wpc-remove, .wpc-item-down, .wpc-item-up, .wpc-menu-edit, .wpc-item-edit {
    cursor: pointer;
}
.wpc-modal-body {
    padding: 20px;
}
.wpc-modal-body label {
    display: block;
    margin-bottom: 0.25rem;    
}
.wpc-modal-body input {
    width: 100%;
}
.wpc-modal-body .wpc-word-counter {
    margin-left: 0px;
}
.wpc-modal-body .wpc-word-counter .wpc-label-txt {
    display: inline;
}
.wpc-modal-foot {
    padding: 15px 20px 15px 20px;
    background-color: #8c8f94;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;    
}
/* menu structure */
#wpc_menu_structure_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin: 1rem 0;
}
.wpc-toplvl-menu {
    min-height: 150px;
    border: 1px solid gray;
    border-radius: 0.25rem;
    width: 100%;    
    min-width: 150px;
    display: flex;
    flex-direction: column;   
}
.wpc-toplvl-menu:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);      
}
.wpc-menu-label {
    background-color: #8c8f94;
    color: white;
    font-weight: bold;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;    
}
.wpc-menu-bottom {
    padding-bottom: 0.25rem;
    margin-top: auto;
    text-align: center;    
}
.wpc-item-add {
    border-top: 1px solid #8c8f94;
    padding-top: 0.5rem;    
}
.wpc-menu-item-add:hover, .wpc-item-down:hover, .wpc-item-up:hover, .wpc-menu-edit:hover, .wpc-item-edit:hover {
    opacity: 0.75;
}
.wpc-item:hover {
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
}
.wpc-item-down, .wpc-item-up {
    font-size: 1.5rem;
}
.wpc-item-down {
    margin-right: 0.5rem;
}
.wpc-item-type {
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 0.2rem 0.25rem;    
    display: flex;
    justify-content: space-between;
}
.wpc-item-page, .wpc-item-category, .wpc-item-post {
    color: #fff;
}
.wpc-item-page {
    border-color: #3821FF;
    background-color: #3821FF;
}
.wpc-item-page .wpc-item-id {
    color: #3821FF;    
}
.wpc-item-category {
    border-color: #FF7003;
    background-color: #FF7003;   
}
.wpc-item-category .wpc-item-id {
    color: #FF7003;    
}
.wpc-item-post {
    border-color: #FF0F6B;
    background-color: #FF0F6B;    
}
.wpc-item-post .wpc-item-id {
    color: #FF0F6B;    
}
.wpc-item-tag {
    border-color: #FFDD0F;
    background-color: #FFDD0F;    
}
.wpc-item-tag .wpc-item-id {
    color: #FFDD0F;    
}
.wpc-item-link {
    border-color: #21FF2F;
    background-color: #21FF2F;      
}
.wpc-item {
    display: grid;
    justify-content: space-between;
    padding: 0.25rem;
    border-top: 1px solid #8c8f94;    
    grid-template-columns: 78% 14% auto;
}
.wpc-item-id {
    background-color: #fff;
    color: #3821FF;
    padding: 0rem 0.25rem;
    border-radius: 0.25rem;    
}

.wpc-item span {
    align-self: center;
}
.wpc-items .wpc-item:first-child {
    border-top: none !important; 
}
.wpc-item-name {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  margin: 0 0.25rem;
}
#wpc_menuJSON_stat {
    margin-top: 0.25rem;
}
.wpc-menubar {
    height: 15px;
}
.wpc-menubar.full {
    background-color: #135e96;
    border-radius: 0.25rem 0rem 0rem 0.25rem;  
    border-right: 1px solid #2271b1;    
}
.wpc-menubar.empty {
    background-color: #8c8f94;
    -webkit-box-shadow: inset 1px 1px 9px 5px rgba(0,0,0,0.45);
    box-shadow: inset 1px 1px 9px 5px rgba(0,0,0,0.45);
    border-radius: 0rem 0.25rem 0.25rem 0rem;  
}
.wpc-flex {
    display: flex;
}
.wpc-warning {
    padding: 0.25rem;
    color: #fff;
}
.wpc-warning.danger {
    background-color: #d63638;
}
.wpc-item-name .wpc-edit-name, .wpc-toplvl-menu .wpc-edit-name {
    width: 70%;
    min-height: 0;
    line-height: inherit;        
}
.wpc-item-name .wpc-edit-name:focus, .wpc-toplvl-menu .wpc-edit-name:focus {
    -webkit-box-shadow: none;
    box-shadow: none;  
}
.wpc-api-json-display {
    border: 1px solid #3c434a;
    padding: 0.75rem;
    border-radius: 0.25rem;
    background-color: #000;
    color: #fff;    
}
.wpc-api-json-display pre {
    margin: 0;
}
.wpc-text-highlight {
    color: #d63638;    
}
/* breakpoints */
@media (min-width: 576px) { 
    .wpc-modal-window {
        width: 80%; 
    }    
    .wpc-toplvl-menu {
        width: 48%;
    } 
    .wpc-edit-name {
        width: 60%
    }    
    .wpc-item {  
        grid-template-columns: 68% 25% auto;
    }        
}
@media (min-width: 783px) { 
    .wpc-toplvl-menu {
        width: 32%;
    }
    .wpc-word-counter {
        display: inline;
        background-color: #fff;    
        margin-bottom: 15px;
        padding-bottom: 5px;
        padding-top: 2px;
        position: relative;  
        padding-left: 4px; 
    }
    .wpc-modal-window {
        width: 60%; 
    }
    input + .wpc-word-counter {
        top: 1px;
        margin-left: -32px;         
    }  
    textarea + .wpc-word-counter {
        top: -7px;
        margin-left: -35px;        
    }     
    .wpc-label-txt {
        display: none;
    } 
    .wpc-input-limited {
        padding-right: 25px !important;
    }  
    .wpc-edit-name {
        width: 58%
    }  
    .wpc-item {  
        grid-template-columns: 70% 25% auto;
    }    
}
@media (min-width: 960px) { 
    .wpc-modal-window {
        width: 50%; 
    }  
    .wpc-toplvl-menu {
        width: 24%;
    } 
    .wpc-item {  
        grid-template-columns: 70% 25% auto;
    }    
}
@media (min-width: 1200px) { 
    .wpc-item {  
        grid-template-columns: 73% 22% auto;
    }       
}
@media (min-width: 1400px) { 
    .wpc-item {  
        grid-template-columns: 76% 18% auto;
    }      
}

